@charset "UTF-8";
/* normalize-scss 3.0.1+normalize.3.0.1 | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Base
   ========================================================================== */
/**
 * Establish a vertical rhythm unit using $base-font-size, $base-line-height,
 * and $rhythm-unit variables. Also, correct text resizing oddly in IE 6/7 when
 * body `font-size` is set using `em` units.
 */
@import url("http://fonts.googleapis.com/css?family=Open Sans%3A200%2C400%2C600");
html {
  font-size: 100%;
  line-height: 1.5em;
}

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  *display: inline;
  *zoom: 1;
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 */
[hidden] {
  display: none;
}

/**
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
blockquote {
  margin: 1.5em 40px;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  /* Set the font-size and line-height while keeping a proper vertical rhythm. */
  font-size: 2em;
  line-height: 1.5em;
  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

h2 {
  font-size: 1.5em;
  line-height: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

h3 {
  font-size: 1.17em;
  line-height: 1.28205em;
  margin-top: 1.28205em;
  margin-bottom: 1.28205em;
}

h4 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

h5 {
  font-size: 0.83em;
  line-height: 1.80723em;
  margin-top: 1.80723em;
  margin-bottom: 1.80723em;
}

h6 {
  font-size: 0.67em;
  line-height: 2.23881em;
  margin-top: 2.23881em;
  margin-bottom: 2.23881em;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
p,
pre {
  margin: 1.5em 0;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1.5em 0;
}

dd {
  margin: 0 0 0 40px;
}

/**
 * Address paddings set differently in IE 6/7.
 */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/**
 * Correct list images handled incorrectly in IE 7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
  /* Improve image quality when scaled in IE 7. */
  -ms-interpolation-mode: bicubic;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1.5em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Address `font-family` inconsistency between `textarea` and other form in IE 7
 * 5. Improve appearance and consistency with IE 6/7.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
  *font-family: sans-serif;
  /* 4 */
  *vertical-align: middle;
  /* 5 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */
  /**
   * Remove inner padding and search cancel button in Safari and Chrome on OS X.
   * Safari (but not Chrome) clips the cancel button when the search input has
   * padding (and `textfield` appearance).
   */
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  margin: 0 2px;
  /* Apply borders and padding that keep the vertical rhythm. */
  border-color: #c0c0c0;
  border-top-width: 0.0625em;
  border-top-style: solid;
  padding-top: 0.4625em;
  border-bottom-width: 0.0625em;
  border-bottom-style: solid;
  padding-bottom: 0.9125em;
  border-left-width: 0.0625em;
  border-left-style: solid;
  padding-left: 0.875em;
  border-right-width: 0.0625em;
  border-right-style: solid;
  padding-right: 0.875em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/**
* 1. http://www.paulirish.com/2012/box-sizing-border-box-ftw/
*    http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*    http://fatihhayrioglu.com/css3-box-sizing-ozelligi/
*
* 2. http://aestheticallyloyal.com/public/optimize-legibility/
*
* 3. http://maxvoltar.com/archive/-webkit-font-smoothing
*
* 4. http://maximilianhoffmann.com/posts/better-font-rendering-on-osx
*    http://stackoverflow.com/questions/14409647/how-to-antialias-svg-text-in-firefox/18310579#18310579
*
* 5. http://www.sitepoint.com/cross-browser-web-fonts-part-3/
*    http://clagnut.com/sandbox/css3/
*
* 6. http://blog.typekit.com/2014/02/05/kerning-on-the-web/
*    https://developer.mozilla.org/en-US/docs/Web/CSS/font-kerning
*
* 7. http://css-tricks.com/almanac/properties/h/hyphenate/
*
* 8. Bu özelliği isteğe bağli kullanabilir veya kaldırabilirsiniz. Detaylı bilgi için alttaki sayfaya göz atın
*    http://css-tricks.com/snippets/css/remove-gray-highlight-when-tapping-links-in-mobile-safari/
*/
html {
  box-sizing: border-box;
  /* 1 */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-weight: normal;
  font-size: 100%;
  line-height: normal;
  font-family: Helvetica, Arial, sans-serif;
  color: #333;
  background-color: #fff;
}

*, *:before, *:after {
  box-sizing: inherit;
  /* 1 */
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
}

body, input, textarea, select, button {
  text-rendering: optimizeLegibility;
  /* 2 */
  -webkit-font-smoothing: antialiased;
  /* 3 */
  -moz-osx-font-smoothing: grayscale;
  /* 4 */
  font-feature-settings: "liga", "kern";
  /* 5 */
  -webkit-font-feature-settings: "liga", "kern";
  -moz-font-feature-settings: "liga", "kern";
  font-kerning: normal;
  /* 6 */
  -webkit-font-kerning: normal;
  -moz-font-kerning: normal;
}

p {
  hyphens: auto;
  /* 7 */
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
}

a {
  color: #333;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  /* 8 */
}
a:hover, a:focus, a:active {
  text-decoration: underline;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
p,
pre {
  margin: 0;
}

button, fieldset, iframe {
  border: 0;
}

button {
  background: transparent;
  padding: 0;
}

fieldset,
ol,
ul {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

/* SASS variables are information about icon's compiled state, stored under its original file name
 *
 * .icon-home
 *   width: $icon-home-width
 *
 * The large array-like variables contain all information about a single icon
 * $icon-home: x y offset_x offset_y width height total_width total_height image_path
 */
/* The provided mixins are intended to be used with the array-like variables
 *
 * .icon-home
 *   @include sprite-width($icon-home)
 *
 * .icon-email
 *   @include sprite($icon-email)
 */
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@-moz-keyframes scrollAnim {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50vh);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-webkit-keyframes scrollAnim {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50vh);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@keyframes scrollAnim {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50vh);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.05em;
  line-height: 1.4em;
  color: #000;
  width: 100%;
  height: 100vh;
}

main {
  -moz-animation: scrollAnim 1s ease;
  -webkit-animation: scrollAnim 1s ease;
  animation: scrollAnim 1s ease;
}

section.introduction {
  background: url("./images/intro-bg.jpg") no-repeat center center #000;
  background-size: cover;
  text-align: center;
  color: #fff;
  font-weight: 200;
  padding: calc((100vh - 262px)/2) 34px 0;
  width: 100%;
  height: 100vh;
}
section.introduction > * {
  -moz-animation: scrollAnim 0.5s ease;
  -webkit-animation: scrollAnim 0.5s ease;
  animation: scrollAnim 0.5s ease;
}
section.introduction .logo {
  display: inline-block;
  background: url("./images/logo.svg") no-repeat center center;
  background-size: 100% 100%;
  color: transparent;
  margin: 0 0 30px;
  width: 234px;
  height: 74px;
}
section.introduction .join-button {
  display: block;
  background: #fff;
  line-height: 44px;
  font-weight: 600;
  margin: 40px auto 12px;
  width: 233px;
  height: 44px;
}
section.introduction .join-button:hover {
  background: rgba(255, 255, 255, 0.9);
}

section.introduction ~ section {
  position: relative;
  border-top: 1px solid transparent;
  margin-top: -1px;
  width: 100%;
  height: auto;
}
section.introduction ~ section h2 {
  display: block;
  background: #000;
  position: absolute;
  left: 50%;
  font-size: 1em;
  margin: -55px 0 0 -220px;
  width: 110px;
  height: 110px;
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
section.introduction ~ section h2 span {
  color: #fff;
  display: block;
  text-align: center;
  line-height: 110px;
  width: inherit;
  height: inherit;
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}
section.introduction ~ section:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 50%;
  height: 20px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjEuMCIgeTE9IjEuMCIgeDI9IjAuMCIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIyNSUiIHN0b3AtY29sb3I9IiMwMDAwMDAiLz48c3RvcCBvZmZzZXQ9IjI1JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIvPjxzdG9wIG9mZnNldD0iNzUlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIi8+PHN0b3Agb2Zmc2V0PSI3NSUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-linear-gradient(135deg, #000000 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, #000000 50%, #000000 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
  background-image: -webkit-linear-gradient(135deg, #000000 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, #000000 50%, #000000 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
  background-image: linear-gradient(-45deg, #000000 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, #000000 50%, #000000 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
  background-size: 20px 20px;
}
section.introduction ~ section:nth-of-type(2n):before {
  width: 70%;
  left: 30%;
}

section.about article {
  position: relative;
  left: 50%;
  margin: 90px 0 90px -116px;
  max-width: 600px;
  width: calc(50% - 26px);
}
section.about p.emphasize {
  font-weight: 600;
  margin-bottom: 15px;
}
section.about a {
  text-decoration: underline;
}

section.venue article {
  background: url("./images/venue-bg.jpg") no-repeat center center #000;
  background-size: cover;
  text-align: center;
  color: #fff;
  margin-top: 20px;
  padding: 160px 90px;
  font-weight: 200;
  width: 100%;
  height: auto;
}
section.venue h3 {
  font-size: 27px;
  font-weight: inherit;
}
section.venue address {
  font-style: normal;
  margin: 16px 0;
}
section.venue a {
  color: #fff;
  text-decoration: underline;
}

section.sponsors h2 span {
  line-height: 19px !important;
  padding-top: 37px !important;
}
section.sponsors article {
  position: relative;
  left: 50%;
  margin: 90px 0 50px -116px;
  max-width: 600px;
  width: calc(50% - 26px);
}
section.sponsors figure {
  color: transparent;
  width: 45%;
  float: left;
  margin-bottom: 7%;
  margin-top: 7%;
  position: relative;
  z-index: -2;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
section.sponsors figure:nth-of-type(2n) {
  margin-left: 10%;
}
section.sponsors figure.github {
  background-image: url("./images/github.svg");
  padding-bottom: 6%;
}
section.sponsors figure.koding {
  background-image: url("./images/koding.svg");
  padding-bottom: 8%;
}
section.sponsors figure.interacthings {
  background-image: url("./images/interacthings.svg");
  padding-bottom: 15%;
}
section.sponsors figure.sonsuzdongu {
  background-image: url("./images/sonsuzdongu.png");
  padding-bottom: 15%;
}
section.sponsors figure.okulbilisim {
  background-image: url("./images/okulbilisim.png");
  padding-bottom: 15%;
}

section.contact article {
  position: relative;
  left: 50%;
  top: 80px;
  margin-left: -146px;
  padding-bottom: 90px;
  width: calc(50% + 146px);
}
section.contact .person {
  float: left;
  text-align: center;
}
section.contact .person ~ .person {
  margin-left: 30px;
}
section.contact .person figure {
  display: inline-block;
  background: #000;
  overflow: hidden;
  margin-bottom: 40px;
  width: 110px;
  height: 110px;
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
section.contact .person figure img {
  margin-top: -20px;
  margin-left: -20px;
  width: 155px;
  height: 155px;
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}
section.contact .person a {
  display: block;
}

/*# sourceMappingURL=style.css.map */
