
/**
* 1. http://www.paulirish.com/2012/box-sizing-border-box-ftw/
*    http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*    http://fatihhayrioglu.com/css3-box-sizing-ozelligi/
*
* 2. http://aestheticallyloyal.com/public/optimize-legibility/
*
* 3. http://maxvoltar.com/archive/-webkit-font-smoothing
*
* 4. http://maximilianhoffmann.com/posts/better-font-rendering-on-osx
*    http://stackoverflow.com/questions/14409647/how-to-antialias-svg-text-in-firefox/18310579#18310579
*
* 5. http://www.sitepoint.com/cross-browser-web-fonts-part-3/
*    http://clagnut.com/sandbox/css3/
*
* 6. http://blog.typekit.com/2014/02/05/kerning-on-the-web/
*    https://developer.mozilla.org/en-US/docs/Web/CSS/font-kerning
*
* 7. http://css-tricks.com/almanac/properties/h/hyphenate/
*
* 8. Bu özelliği isteğe bağli kullanabilir veya kaldırabilirsiniz. Detaylı bilgi için alttaki sayfaya göz atın
*    http://css-tricks.com/snippets/css/remove-gray-highlight-when-tapping-links-in-mobile-safari/
*/

html {
  box-sizing: border-box; /* 1 */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-weight: normal;
  font-size: 100%;
  line-height: normal;
  font-family: Helvetica, Arial, sans-serif;
  color: #333;
  background-color: #fff;
}

*, *:before, *:after {
  box-sizing: inherit; /* 1 */
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
}

body, input, textarea, select, button {
  text-rendering: optimizeLegibility; /* 2 */
  -webkit-font-smoothing: antialiased; /* 3 */
  -moz-osx-font-smoothing: grayscale; /* 4 */
  font-feature-settings: "liga", "kern"; /* 5 */
  -webkit-font-feature-settings: "liga", "kern";
  -moz-font-feature-settings: "liga", "kern";
  font-kerning: normal; /* 6 */
  -webkit-font-kerning: normal;
  -moz-font-kerning: normal;
}

p {
  hyphens: auto; /* 7 */
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
}

a {
  color: #333;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* 8 */

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
  }
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
p,
pre {
  margin: 0;
}

button, fieldset, iframe {
  border: 0;
}

button {
  background: transparent;
  padding: 0;
}

fieldset,
ol,
ul {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}